@font-face {
  font-family: 'AGBE';
  src: url(AkzidenzGroteskPro-BoldEx.ttf);
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
body {

}
.page {
  overflow: hidden;
  min-height: 400px;
}
header {
  background-color: #000;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
}
.top_left {
  display: inline-block;
  float: left;
}
.logo_wrap {
  padding-top: 0px;
  padding-bottom: 0px;
}
.logo {
  display: inline-block;
  position: relative;
}

.logo::after {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 100%;
  margin-left: 3px;
  top: 14px;
  width: 619px;
  height: 6px;
}
.logo::before {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 0px;
  margin-left: -1003px;
  top: 14px;
  width: 1000px;
  height: 6px;
}

.btns {
  margin-top: 20px;
  margin-left: 20px;
}
.btn::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 19px;
  margin-left: 0px;
  height: 4px;
  width: 0px;
  background-color: rgb(238, 46, 36);
  transition: width .2s ease, margin-left .2s ease;
}
.btn::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 19px;
  margin-left: 0px;
  height: 4px;
  width: 0px;
  background-color: rgb(238, 46, 36);
  transition: width .2s ease;
}
.btn {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  font-family: 'AGBE';
  font-size: 22px;
  color: rgb(168, 168, 168);
  border: 2px solid rgb(238, 46, 36);
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: color .2s ease, box-shadow .2s ease;
}
.btn:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.type1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 17px;
}
.type2 {
  padding: 5px 16px;
}
.type1:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.type1:hover::before{
  width: 12px;
}
.type1:hover::after{
  width: 16px;
  margin-left: -16px;
}
.type2:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.type2:hover::before{
  width: 15px;
}
.type2:hover::after{
  width: 15px;
  margin-left: -15px;
}
.btn1 {
}
.btn2 {
  border-radius: 20px;
}
.border {
}
.border::before {
}
.border::after {
  content: '';
  background-color: rgb(238, 46, 36);
  height: 6px;
  width: 10000px;
  position: absolute;
  left: 100%;
  top: 16px;
}
.line {
  position: absolute;
}
nav {
}
nav ul {
  list-style-type: none;
}
li {
  display: inline-block;
  position: relative;
  padding: 10px;
  font-family: 'AGBE';
  color: white;
  font-size: 18px;
  background-color: transparent;
  border-radius: 6px 6px 0 0;
  margin-left: 20px;
  transition: color .2s ease, background-color .2s ease;
}
li::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 61px;
  width: 100%;
  height: 0px;
  background-color: rgb(238, 46, 36, 0);
  transition: top .4s ease, height .4s ease, background-color .4s ease;
}
li:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
li:hover::before {
  height: 4px;
  top: 43px;
  background-color: rgba(238, 46, 36, 1);
}
.bezier {
  display: inline;
  position: relative;
}
.bezier_top {
  display: inline-block;
  border-right: 6px solid rgb(238, 46, 36);
  border-top: 6px solid rgb(238, 46, 36);
  width: 18px;
  height: 18px;
  border-radius: 0 80% 0 0;
  position: absolute;
  left: 0px;
  top: 14px;
}
.bezier_bot {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-left: 6px solid rgb(238, 46, 36);
  border-bottom: 6px solid rgb(238, 46, 36);
  border-radius: 0 0 0 80%;
  position: absolute;
  top: 38px;
  left: 18px;
}
.top_right {
  display: inline-block;
  width: 220px;
  float: right;
}
.phone {
  display: inline-block;
  position: relative;
  font-family: 'AGBE';
  font-size: 18px;
  color: white;
  padding: 10px 0px;
}

.phone::after {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 100%;
  margin-left: 3px;
  top: 20px;
  width: 1000px;
  height: 6px;
}
.phone::before {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: -31px;
  margin-left: 0px;
  top: 20px;
  width: 29px;
  height: 6px;
}
.social-wrap {
  display: inline-block;
  float: right;
  height: 36px;
}
.social {
  display: inline-block;
  margin-left: 8px;
  width: 26px;
  height: 26px;
}
.social:hover {
  cursor: pointer;
}
.vk {
  background: url('soc1.png') no-repeat;
}
.fb {
  background: url('soc2.png') no-repeat;
}
.instagram {
  background: url('soc3.png') no-repeat;
}
.warning {
  background: url('ent1.png') no-repeat;
}
