@font-face {
  font-family: 'AGBE';
  src: url(AkzidenzGroteskPro-BoldEx.ttf);
}
@font-face {
  font-family: 'AGB';
  src: url(AkzidenzGroteskPro-Bold.ttf);
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
body {
  -moz-osx-font-smoothing: grayscale;
}
.page {
  overflow: hidden;
  min-height: 400px;
}
header {
  background-color: #000;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
}
.top_left {
  display: inline-block;
  float: left;
}
.logo_wrap {
  padding-top: 0px;
  padding-bottom: 0px;
}
.logo {
  display: inline-block;
  position: relative;
}

.logo::after {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 100%;
  margin-left: 3px;
  top: 14px;
  width: 619px;
  height: 6px;
}
.logo::before {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 0px;
  margin-left: -1003px;
  top: 14px;
  width: 1000px;
  height: 6px;
}

.btns {
  margin-top: 20px;
  margin-left: 20px;
}
.btn::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 19px;
  margin-left: 0px;
  height: 4px;
  width: 0px;
  background-color: rgb(238, 46, 36);
  transition: width .2s ease, margin-left .2s ease;
}
.btn::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 19px;
  margin-left: 0px;
  height: 4px;
  width: 0px;
  background-color: rgb(238, 46, 36);
  transition: width .2s ease;
}
.btn {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  font-family: 'AGBE';
  font-size: 22px;
  color: rgb(168, 168, 168);
  border: 2px solid rgb(238, 46, 36);
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: color .2s ease, box-shadow .2s ease;
}
.btn:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.type1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 17px;
}
.type2 {
  padding: 5px 16px;
}
.type1:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.type1:hover::before{
  width: 12px;
}
.type1:hover::after{
  width: 16px;
  margin-left: -16px;
}
.type2:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.type2:hover::before{
  width: 15px;
}
.type2:hover::after{
  width: 15px;
  margin-left: -15px;
}
.btn1 {
}
.btn2 {
  border-radius: 20px;
}
.line {
  position: absolute;
}
nav {
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  position: relative;
  padding: 10px;
  font-family: 'AGBE';
  color: white;
  font-size: 18px;
  background-color: transparent;
  border-radius: 6px 6px 0 0;
  margin-left: 20px;
  transition: color .2s ease, background-color .2s ease;
}
nav li::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 61px;
  width: 100%;
  height: 0px;
  background-color: rgb(238, 46, 36, 0);
  transition: top .4s ease, height .4s ease, background-color .4s ease;
}
nav li:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
nav li:hover::before {
  height: 4px;
  top: 43px;
  background-color: rgba(238, 46, 36, 1);
}
.bezier {
  display: inline-block;
}
.bezier_top {
  margin-top: 14px;
  box-sizing: border-box;
  border-right: 6px solid rgb(238, 46, 36);
  border-top: 6px solid rgb(238, 46, 36);
  width: 24px;
  height: 24px;
  border-radius: 0 80% 0 0;
}
.bezier_bot {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-left: 6px solid rgb(238, 46, 36);
  border-bottom: 6px solid rgb(238, 46, 36);
  border-radius: 0 0 0 80%;
  margin-left: 18px;
}
.top_right {
  display: inline-block;
  width: 220px;
  float: right;
}
.phone {
  display: inline-block;
  position: relative;
  font-family: 'AGBE';
  font-size: 18px;
  color: white;
  padding: 10px 0px;
}

.phone::after {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 100%;
  margin-left: 3px;
  top: 20px;
  width: 1000px;
  height: 6px;
}
.phone::before {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: -31px;
  margin-left: 0px;
  top: 20px;
  width: 29px;
  height: 6px;
}
.social-wrap {
  display: inline-block;
  float: right;
  height: 36px;
}
.social {
  display: inline-block;
  margin-left: 8px;
  width: 26px;
  height: 26px;
}
.social:hover {
  cursor: pointer;
}
.vk {
  background: url('soc1.png') no-repeat;
}
.fb {
  background: url('soc2.png') no-repeat;
}
.instagram {
  background: url('soc3.png') no-repeat;
}
.warning {
  background: url('ent1.png') no-repeat;
}
.slider_root {
  position: relative;
}
.slider_row {
  display: flex;
}
.slider_left {
  flex: 0 0 800px;
}
.slider_screen {
  position: relative;
  overflow: hidden;
  height: 360px;
  background-color: black;
}
.slider_image {
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: opacity .4s ease;
}
.slider_image_selected {
  opacity: 1;
  z-index: 0;
}
.slider_menu {
  display: flex;
  flex-direction: column;
}
.slider_menu a {
  color: white;
  text-decoration: none;
}
.slider_menu_item {
  display: flex;
  position: relative;
  padding: 0 20px;
  font-family: "AGB";
  height: 90px;
  font-size: 16px;
  color: black;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  transition: color .2s ease, background-color .2s ease;
}
.slider_menu_item_selected {
  color: white;
  background-color: rgb(238, 46, 36);
}
.slider_menu_item_selected::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -14px;
  border-style: solid;
  border-width: 45px 14px 45px 0px;
  border-color: transparent rgb(238, 46, 36) transparent transparent;
}
.slider_enum {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
  justify-content: center;
}
.slider_enum_item {
  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.slider_enum_arc {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(168, 168, 168);
  transition: width .2s ease, height .2s ease, background-color .2s ease;
}
.slider_enum_arc_selected {
  width: 14px;
  height: 14px;
  background-color: rgb(238, 46, 36);
}
.slider_offer {
  position: absolute;
  left: -12px;
}
.slider_mess {
  position: absolute;
  margin-top: 270px;
  height: 70px;
  width: 500px;
}
.slider_mess_text {
  display: flex;
  position: absolute;
  align-items: center;
  color: transparent;
  width: 500px;
  height: 70px;
  font-size: 16px;
  color: white;
  font-family: "AGB";
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2;
  opacity: 0;
  transition: opacity .1s ease;
}
.slider_mess_text_show {
  opacity: 1;
}
.slider_mess_bg {
  position: absolute;
  top: 70px;
  width: 500px;
  height: 0px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
  transition: height .1s ease, top .1s ease;
}
.slider_mess_bg_show {
  height: 70px;
  top: 0px;
}
.slider_mess_border {
  position: absolute;
  top: 70px;
  width: 0px;
  height: 4px;
  background-color: rgb(238, 46, 36);
  z-index: 2;
  transition: width .2s ease;
}
.slider_mess_border_show {
  width: 500px;
}
.button {
  position: relative;
  font-family: 'AGBE';
  font-size: 22px;
  color: rgb(168, 168, 168);
  border: none;
  border: 2px solid rgb(238, 46, 36);
  background-color: transparent;
  padding: 5px 16px;
  text-transform: uppercase;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: color .5s ease, box-shadow .5s ease;
}
.button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: black;
  z-index: -1;
  transition: height .5s ease;
}
.button:hover::before {
  height: 50%;
}
.button::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: black;
  z-index: -1;
  transition: height .5s ease, top .5s ease;
}
.button:hover::after {
  height: 50%;
  top: 50%;
}
.button:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}
.button1 {
  position: relative;
  font-family: 'AGBE';
  font-size: 22px;
  color: rgb(168, 168, 168);
  border: none;
  border: 2px solid rgb(238, 46, 36);
  background-color: transparent;
  padding: 5px 16px;
  text-transform: uppercase;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: color .5s ease, box-shadow .5s ease;
}
.button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: width .5s ease;
}
.button1:hover::before {
  width: 50%;
}
.button1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: width .5s ease, left .5s ease;
}
.button1:hover::after {
  width: 50%;
  left: 50%;
}
.button1:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}
