@import './media.css';
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "AGR";
}
ul {
  list-style-type: none;
}
h1 {
  font-family: 'AGBE';
  font-size: 2.1em;
  text-align: center;
}
h2 {
  text-align: center;
  font-family: 'AGBE';
  font-size: 1.72em;
  margin-bottom: 54px;
}
h3 {
  text-align: center;
  font-family: 'AGR';
  font-size: 1.44em;
  margin-bottom: 29px;
}
.header_white {
  color: white;
}
.header_black {
  color: black;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100vh;
}
.content {
  flex: 1;
}
header {
  flex: 1;
  background-color: #000;
}
footer {
  flex: 1;
}
.section_padding {
  padding: 63px 0;
}
.wrapper {
  margin: 0 auto;
}
.header {
  position: relative;
  padding: 18px 0px;
}
.header_left {
  display: flex;
  justify-content: space-between;
}
.header_right {
  display: flex;
  flex-direction: column;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.header_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_right_top {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  height: 37px;
}
.header_right_bottom {
  display: flex;
  justify-content: flex-end;
}
.bezier {
  position: absolute;
  left: 800px;
}
.bezier_top {
  margin-top: 14px;
  box-sizing: border-box;
  border-right: 6px solid rgb(238, 46, 36);
  border-top: 6px solid rgb(238, 46, 36);
  width: 31px;
  height: 31px;
  border-radius: 0 80% 0 0;
}
.bezier_bot {
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border-left: 6px solid rgb(238, 46, 36);
  border-bottom: 6px solid rgb(238, 46, 36);
  border-radius: 0 0 0 80%;
  margin-left: 25px;
}
.line::after {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  left: 100%;
  margin-left: 0px;
  top: 0px;
  height: 6px;
}
.line::before {
  content: '';
  background-color: rgb(238, 46, 36);
  position: absolute;
  margin-left: 0px;
  top: 6px;
  height: 6px;
}
.logo_wrap {
}
.logo {
  display: inline-block;
  position: relative;
}
.logo::after {
  left: 100%;
  margin-left: 3px;
  top: 14px;
}
.logo::before {
  left: 0px;
  margin-left: -1003px;
  top: 14px;
  width: 1000px;
}
.social_wrap {
  position: relative;
}
.social_block {
  display: flex;
  justify-content: space-between;
  width: 112px;
  padding-bottom: 4px;
}
.social_block::before {
  top: 10px;
}
.social_block::after {
  top: 10px;
}
.social {
  padding: 0 6px;
  width: 26px;
  height: 26px;
}
.social:hover {
  cursor: pointer;
}
.profile {
  display: inline-block;
  max-width: 165px;
  position: relative;
  flex-direction: column;
  padding-bottom: 4px;
}
.profile::after {
  top: 13px;
}
.profile::before {
  top: 13px;
}
.profile_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  border-radius: 2px;
}
.profile_info:hover {
  background-color: rgba(225, 255, 255, .3);
  cursor: pointer;
}
.profile_menu {
  position: absolute;
  background-color: white;
  top: 50px;
  left: 100%;
  margin-left: -158px;
  border-radius: 2px;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  padding: 4px 0px;
  visibility: hidden;
  opacity: 0;
}
.profile_menu_shown {
  visibility: visible;
  opacity: 1;
}
.profile_menu::before {
  content: '';
  position: absolute;
  border: solid transparent;
  border-width: 6px;
  border-bottom-color: rgba(0, 0, 0, .1);
  margin: 0 -6px;
  width: 0px;
  height: 0px;
  bottom: 100%;
  right: 42px;
}
.profile_menu::after {
  content: '';
  position: absolute;
  border: solid transparent;
  border-width: 5px;
  border-bottom-color: #fff;
  margin: 0 -5px;
  width: 0px;
  height: 0px;
  bottom: 100%;
  right: 42px;
}
.profile_menu_item {
  font-family: 'AGL';
  font-size: 0.88em;
  padding: 6px 12px;
  min-width: 128px;
  transition: background-color .2s ease;
}
.profile_menu_item:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}
.profile_menu_sep {
  background-color: rgb(168, 168, 168);
  height: 1px;
  margin: 4px 10px;
}
.profile_name {
  font-family: "AGB";
  font-size: 1em;
  color: white;
  padding-right: 10px;
}
.profile_img {
  width: 32px;
}
.profile_arrow {
  width: 12px;
  padding-left: 10px;
}
.profile-menu {
  color: white;
  padding-left: 10px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: 'AGB';
  color: white;
  font-size: 1em;
}
.mobile {
  justify-content: space-between;
  align-items: center;
}
.nav_mobile {
  overflow: hidden;
  text-align: center;
}
.nav_mobile ul {
  height: 264px;
  padding-bottom: 12px;
  transition: height 1s ease, padding-bottom 1s ease;
}
.nav_closed ul {
  height: 0px;
  padding-bottom: 0px;
}
.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.nav_mobile ul {
  flex-direction: column;
}
.nav li {
  display: inline-block;
  position: relative;
  font-family: 'AGB';
  color: white;
  font-size: 1em;
  background-color: transparent;
  border-radius: 0px 0px 0 0;
  text-transform: uppercase;
  transition: color .4s ease, background-color .4s ease;
}
.nav li::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 61px;
  width: 100%;
  height: 0px;
  background-color: rgb(238, 46, 36, 0);
  transition: top .4s ease, height .4s ease, background-color .4s ease;
}
.nav li:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
.nav li:hover::before {
  height: 4px;
  top: 43px;
  background-color: rgba(238, 46, 36, 1);
}
.nav_icon {
  width: 26px;
  height: 26px;
  background-image: url('../images/menu.png');
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 4px;
}
.phone {
  position: relative;
}
.phone span::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -32px;
  background-image: url(../images/phone.png);
  width: 26px;
  height: 26px;
}
.phone a {
  font-family: 'AGBE';
  font-size: .82em;
  color: white;
  text-decoration: none;
}
.phone_main {
  float: right;
}
.phone_main::after {
  top: 8px;
  margin-left: 3px;
}
.phone_main::before {
  top: 8px;
}
.vk {
  background: url('../images/vk.png') no-repeat;
}
.fb {
  background: url('../images/fb.png') no-repeat;
}
.instagram {
  background: url('../images/instagram.png') no-repeat;
}


.offer_blocks {
  display: flex;
  justify-content: space-between;
}
.offer_block {
  display: flex;
}
.offer_block a {
  text-decoration: none;
}
.offer_image {
  border-radius: 20px;
  border: 6px solid rgb(238, 46, 36);
  background-color: black;
  padding: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  transition: background-color .2s ease;
}
.offer_image:hover {
  background-color: rgb(238, 46, 36);
  cursor: pointer;
}
.offer_image_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 56px;
  margin-bottom: 10px;
}
.offer_image_text {
  font-family: 'AGB';
  font-size: 1em;
  text-align: center;
  color: white;
}
.offer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer_text_main {

}
.offer_text_adv {
  font-family: 'AGBE';
  font-size: 1.72em;
  text-align: center;
}

.slider_root {
  position: relative;
}
.slider_row {
  display: flex;
}
.slider_left {
  flex: 0 0 800px;
}
.slider_screen {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
}
.slider_content {
  display: flex;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: opacity .4s ease;
}
.slider_content_selected {
  opacity: 1;
  z-index: 0;
}
.slider_content_image {
  display: flex;
  flex: 0 0 500px;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.slider_content_image img {
  max-height: 300px;
  max-width: 500px;
}
.slider_content_text {
  font-family: 'AGR';
  font-size: 1em;
  padding: 16px;
  color: white;
}
.slider_content_text a {
  text-decoration: none;
  font-family: 'AGB';
  font-size: .83em;
  color: rgb(238, 46, 36);
}
.slider_menu {
  display: flex;
  flex-direction: column;
}
.slider_menu a {
  color: white;
  text-decoration: none;
}
.slider_menu_item {
  display: flex;
  position: relative;
  padding: 0 20px;
  font-family: "AGB";
  height: 90px;
  font-size: 16px;
  color: white;
  justify-content: center;
  flex-direction: column;
  transition: color .2s ease, background-color .2s ease;
}
.slider_menu_item::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -14px;
  border-style: solid;
  border-width: 45px 14px 45px 0px;
  border-color: transparent transparent transparent transparent;
  transition: border-color .2s ease;
}
.slider_menu_item_selected {
  color: white;
  background-color: rgb(238, 46, 36);
}
.slider_menu_item_selected::before {
  content: '';
  border-color: transparent rgb(238, 46, 36) transparent transparent;
}
.slider_enum {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
  justify-content: center;
}
.slider_enum_item {
  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.slider_enum_arc {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(168, 168, 168);
  transition: width .2s ease, height .2s ease, background-color .2s ease;
}
.slider_enum_arc_selected {
  width: 14px;
  height: 14px;
  background-color: rgb(238, 46, 36);
}
.slider_mess {
  position: absolute;
  margin-top: 300px;
  height: 60px;
  width: 500px;
}
.slider_mess_text {
  display: flex;
  position: absolute;
  align-items: center;
  color: transparent;
  width: 500px;
  height: 56px;
  font-size: 16px;
  color: white;
  font-family: "AGB";
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2;
  opacity: 0;
  transition: opacity .1s ease;
}
.slider_mess_text_show {
  opacity: 1;
}
.slider_mess_bg {
  position: absolute;
  top: 60px;
  width: 500px;
  height: 0px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
  transition: height .1s ease, top .1s ease;
}
.slider_mess_bg_show {
  height: 60px;
  top: 0px;
}
.slider_mess_border {
  position: absolute;
  top: 56px;
  width: 0px;
  height: 4px;
  background-color: rgb(238, 46, 36);
  z-index: 2;
  transition: width .2s ease;
}
.slider_mess_border_show {
  width: 500px;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg_fc {
  background-image: url('../images/bg3.jpg');
}
.bg_slider {
  background-image: url('../images/bg2.jpg');
}
.bg_gallery {
  background-image: url('../images/bg4.jpg');
}
.fc_header {
  color: white;
}
.fc_blocks {
  display: flex;
  justify-content: center;
}
.fc_block {
  padding: 0 20px;
  width: 33%;
}
.fc_block_image {
  position: relative;
  height: 70px;
  margin-bottom: 46px;
}
.fc_block_image::before {
  content: '';
  position: absolute;
  top: 90px;
  height: 6px;
  width: 150px;
  background-color: rgb(238, 46, 36);
}
.fc_block_title {
  font-family: 'AGB';
  font-size: 1.2em;
  color: white;
  margin-bottom: 24px;
}
.fc_block_text {
  font-family: 'AGR';
  font-size: 1em;
  color: white;
  margin-bottom: 20px;
}
.fc_block_list_item {
  position: relative;
  font-family: 'AGR';
  font-size: 1em;
  color: white;
  margin-bottom: 20px;
}
.fc_block_list_item::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -20px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(238, 46, 36);
}
.highlight_red {
  font-family: 'AGB';
  color: rgb(238, 46, 36);
}
.highlight_white {
  font-family: 'AGB';
  color: white;
}
.adv_blocks {
  display: flex;
  justify-content: space-around;
}
.adv_block {
  width: 180px;
}
.adv_block_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94px;
}
.adv_block_text {
  padding-top: 10px;
  font-family: 'AGB';
  font-size: 1em;
  text-align: center;
}
.footer {
  padding: 18px 0;
}
.f_phone {
  text-align: center;
  color: black;
}
.copyright {
}
.copyright p {
  text-decoration: none;
  font-family: 'AGR';
  font-size: .69em;
  color: rgb(168, 168, 168);
}
.copyright span {
  font-family: 'AGB';
  color: black;
}
.studio {
}
.studio p {
  text-decoration: none;
  font-family: 'AGR';
  font-size: .69em;
  color: rgb(168, 168, 168);
}
.studio a {
  text-decoration: none;
  font-family: 'AGB';
  font-size: 1em;
  color: rgb(168, 168, 168);
}
.policy {
}
.policy a {
  text-decoration: none;
  font-family: 'AGB';
  font-size: .69em;
  color: rgb(168, 168, 168);
}
.site_map {
  height: 21px;
}
.site_map a {
  text-decoration: none;
  font-family: 'AGB';
  font-size: .69em;
  color: rgb(168, 168, 168);
}
.f_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
}
.gallery_text {
  text-align: center;
  color: white;
  margin-bottom: 21px;
}
.gallery_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery_list_image {
  position: relative;
  overflow: hidden;
  margin: 16px;
  height: 189px;
  border-radius: 4px;
  border: 4px solid white;
}
.gallery_list_image_hover {
  position: absolute;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('../images/ico18.png');
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .2s ease;
}
.gallery_list_image_hover:hover {
  opacity: 1;
  cursor: pointer;
}
