@import "palette.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: $color-white;
}

a {
    text-decoration: none;
    color: $color-white;
}

.line {
    &::after {
        content: '';
        background-color: $color-red;
        position: absolute;
        left: 100%;
        margin-left: 0px;
        top: 0px;
        height: 7px;
    }
    &::before {
        content: '';
        background-color: $color-red;
        position: absolute;
        margin-left: 0px;
        top: 6px;
        height: 7px;
    }
}

h2 {
    display: inline-block;
    font-family: $AGB;
    font-size: 48px;
    position: relative;
    margin-bottom: 64px;
    &::before {
        top: 32px !important;
        height: 6px !important;
        width: 5000px;
        left: -5000px;
        margin-left: -12px !important;
    }
    &::after {
        top: 32px !important;
        height: 6px !important;
        width: 5000px;
        margin-left: 12px !important;
    }
}

.subheader {
    text-align: center;
}

ul {
    list-style-type: none;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    padding: 0 30px;
}

.bg {
    background-position: center;
}

.screen {
    padding: 44px 0;
}

.button {
    position: relative;
    outline: none;
    text-transform: uppercase;
    padding: 9px 19px;
    border: 3px solid $color-red-2;
    background-color: $color-red-2;
    border-radius: 20px;
    font-size: 21px;
    font-family: $AGB;
    color: $color-white;
    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 30px;
        top: 20px;
        left: 236px;
        width: 0px;
        background-color: $color-red-2;
    }
    &::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 30px;
        top: 20px;
        left: 0;
        width: 0px;
        background-color: $color-red-2;
    }
    &:hover {
        cursor: pointer;
        background-color: transparent;
        box-shadow: 0 0 32px rgba(255, 255, 255, 1);
        &::after {
            width: 12px;
        }
        &::before {
            width: 12px;
        }
    }
}

