$AGB: 'AGB';
$AGR: 'AGR';
$AGBE: 'AGBE';
$AGS: 'AGS';

@font-face {
    font-family: 'AGB';
    src: url('../fonts/AkzidenzGroteskPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AGR';
    src: url('../fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AGBE';
    src: url('../fonts/AkzidenzGroteskPro-BoldEx.ttf') format('truetype');
}
@font-face {
    font-family: 'AGS';
    src: url('../fonts/AkzidenzGroteskPro-Super.ttf') format('truetype');
}