footer {
    text-align: center;
    background-color: $color-black;
    padding-bottom: 16px;
    .policy {
        font-family: $AGR;
        font-weight: 200;
        color: $color-grey;
        font-size: 21px;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    .copyright {
        font-family: $AGR;
        font-weight: 200;
        color: $color-white;
        font-size: 16px;
    }
}