@import "palette.scss";

header {
    background-color: $color_black;
    .header {
        display: flex;
        justify-content: space-between;
        position: relative;
        .bezier {
            width: 56px;
            position: absolute;
            left: 740px;
            top: 26px;
        }
        .left {
            display: inline-block;
            .logo {
                display: inline-block;
                position: relative;
                margin-bottom: 5.5px;
                img {
                    width: 308px;
                }
                &::after {
                    top: 26px;
                    width: 433px;
                }
                &::before {
                    top: 26px;
                    width: 5000px;
                    left: -5000px;
                }
            }
            
            nav {
                ul {
                    display: flex;
                    li {
                        font-family: $AGB;
                        color: $color-white;
                        text-transform: uppercase;
                        padding: 18px 18px 20px 18px;
                        border-bottom: 3px solid transparent;
                        &:hover {
                            background-color: $color-white;
                            color: $color_black;
                            cursor: pointer;
                            border-bottom-color: $color-red;
                        }
                    }
                }
            }
        }
    
        .right {
            display: inline-block;
            .phone {
                position: relative;
                margin-top: 84px;
                padding-left: 38px;
                padding-right: 7px;
                &::after {
                    top: 7px;
                    width: 5000px;
                }
                &::before {
                    top: 7px;
                    width: 221px;
                    left: -221px;
                }
                .number {
                    position: relative;
                    font-family: $AGB;
                    font-size: 16px;
                    color: $color-white;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: -32px;
                        width: 25px;
                        height: 25px;
                        background-image: url('../images/phone-call.png');
                        background-size: cover;
                    }
                }
            }
        }
    }
}

