@import "./palette.scss";


.bg-main {
    background-image: url('../images/screen-main.jpg');
    background-position-y: -114px;
    background-repeat: no-repeat;
    background-position: center;
}

.screen-main {
    h3 {
        color: $color-white;
        font-family: $AGR;
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 42px;
        span {
            font-family: $AGB;
            color: $color-red;
        }
    }
    h1 {
        font-size: 36px;
        line-height: 40px;
        color: $color-white;
        font-family: $AGB;
        margin-bottom: 56px;
        span {
            color: $color-red-2;
        }
    }
    .advantages {
        margin-bottom: 20px;
        .tabs {
            display: flex;
            justify-content: space-between;
            .title {
                border-bottom: 6px solid $color-red-2;
                width: 380px;
                padding: 16px 0 16px 90px;
                &.active {
                    cursor: pointer;
                    border-bottom: none;
                    border-top: 6px solid $color-red-2;
                    border-left: 6px solid $color-red-2;
                    border-right: 6px solid $color-red-2;
                    padding: 10px 0 10px 84px;
                    background-color: rgba(0, 0, 0, .3);
                    &::before {
                        top: 14px;
                        left: 17px;
                    }
                }
                &::before {
                    top: 20px;
                }
            }
        }
        .container {
            height: 186px;
        }
        .accordion {
            display: none;
            min-height: 364px;
            .title {
                align-items: center;
                padding: 10px 10px 10px 80px;
                box-sizing: border-box;
                span {
                    color: $color-red;
                }
            }
            .description {
                padding: 0px;
                max-height: 0px;
                overflow: hidden;
                span {
                    color: $color-red;
                }
            }
            .active {
                .title {
                    cursor: pointer;
                    border-bottom: none;
                    border: 6px solid $color-red-2;
                    padding: 4px 4px 4px 74px;
                    background-color: rgba(0, 0, 0, .3);
                    &::before {
                        left: 17px;
                        top: 9px;
                    }

                }
                .description {
                    max-height: 200px;
                    padding: 20px;
                }
            }
        }
        .title {
            position: relative;
            display: flex;
            cursor: pointer;
            color: $color-white;
            font-family: $AGB;
            font-size: 26px;
            line-height: 28px;
            border-radius: 18px 18px 0 0;
            min-height: 76px;
            box-sizing: border-box;
            span {
                color: $color-red;
            }
        }
        .description {
            font-family: $AGR;
            font-weight: 200;
            color: $color-white;
            font-size: 21px;
            background-color: rgba(0, 0, 0, .3);
            line-height: 24px;
            padding: 20px;
            span {
                color: $color-red;
            }
        }
        .icon {
            &::before {
                content: '';
                position: absolute;
                width: 46px;
                height: 46px;
                left: 23px;
                top: 15px;
                background-repeat: no-repeat;
            }
        }
        .accounting {
            &::before {
                background-image: url('../images/ruble.png');
            }
        }
        .ruble {
            &::before {
                background-position-y: 3px;
                background-image: url('../images/accounting.png');
            }
        }
        .wallet {
            &::before {
                background-image: url('../images/wallet.png');
            }
        }
    }
    .ui {
        text-align: center;
        margin-bottom: 30px;
    }
}