.screen-support {
    .grid {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        .card {
            text-align: center;
            width: 380px;
            height: 255px;
            box-sizing: border-box;
            padding: 0 30px;
            .image {
                height: 92px;
                margin-bottom: 32px;
            }
            p {
                font-family: $AGR;
                font-weight: 200;
                font-size: 21px;
            }
        }
    }
}