.screen-indicators {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        .card {
            text-align: center;
            width: 380px;
            height: 311px;
            h4 {
                font-family: $AGB;
                font-size: 21px;
                color: $color-red-2;
                margin-bottom: 22px;
            }
            .image {
                height: 92px;
                margin-bottom: 32px;
            }
            p {
                text-align: left;
                span {
                    font-family: $AGR;
                    font-weight: 200;
                    font-size: 14px;
                    margin-left: 70px;
                }
            }
            &.graph2 {
                img {
                    margin-left: 3px;
                }
            }
        }
    }
}