@import "./palette.scss";


.bg-main {
    background-image: url('../images/screen-main.jpg');
    background-position-y: -114px;
    background-repeat: no-repeat;
}

.screen-main {
    h3 {
        color: $color-white;
        font-family: $AGR;
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 42px;
        span {
            font-family: $AGB;
            color: $color-red;
        }
    }
    h1 {
        font-size: 36px;
        line-height: 40px;
        color: $color-white;
        font-family: $AGB;
        margin-bottom: 56px;
        span {
            color: $color-red-2;
        }
    }
    .advantages {
        .tabs {
            display: flex;
            justify-content: space-between;
            .tab {
                display: flex;
                justify-content: center;
                border-bottom: 6px solid $color-red-2;
                width: 400px;
                padding: 16px 0 16px 33px;
                box-sizing: border-box;
                border-radius: 18px 18px 0 0;
                p {
                    position: relative;
                    color: $color-white;
                    font-family: $AGB;
                    font-size: 26px;
                    line-height: 28px;
                    span {
                        color: $color-red;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        width: 46px;
                        height: 46px;
                        left: -66px;
                        top: 8px;
                        background-repeat: no-repeat;
                    }
                }
                &:hover {
                    cursor: pointer;
                    border-bottom: none;
                    border-top: 6px solid $color-red-2;
                    border-left: 6px solid $color-red-2;
                    border-right: 6px solid $color-red-2;
                    padding: 10px 0 10px 33px;
                    background-color: rgba(0, 0, 0, .3);
                }
            }
            .accounting {
                p::before {
                    background-image: url('../images/ruble.png');
                }
            }
            .ruble {
                p::before {
                    background-image: url('../images/accounting.png');
                }
            }
            .wallet {
                p::before {
                    top: 4px;
                    background-image: url('../images/wallet.png');
                }
            }
        }
        .container {
            height: 186px;
            .content {
                font-family: $AGR;
                font-weight: 200;
                color: $color-white;
                font-size: 21px;
                background-color: rgba(0, 0, 0, .3);
                line-height: 24px;
                padding: 20px;
                span {
                    color: $color-red;
                }
            }
        }
    }
    .ui {
        text-align: center;
        margin-bottom: 30px;
    }
}