@media only screen and (max-width: 1199px) {
    .screen-formats {
        .grid {
            flex-direction: column;
            .card {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .screen-formats {
        .grid {
            .card {
                .image {
                    width: 360px;
                }
                .description {
                    width: 360px;
                }
                p {
                    font-size: 15px;
                }
                &.cofe-point {
                    .description {
                        .ad {
                            padding-left: 160px;
                            margin-top: 70px;
                        }
                        .software {
                            margin-top: 74px;
                        }
                        .constructions {
                            margin-top: 46px;
                        }
                        .group {
                            .coffee-machine {
                                margin-top: 40px;
                                padding-left: 78px;
                            }
                            .windows {
                                margin-top: 40px;
                            }
                        }
                    }
                }
                &.express-cafe {
                    .description {
                        .ad {
                            padding-left: 164px;
                            margin-top: 80px;
                        }
                        .software {
                            margin-top: 88px;
                        }
                        .constructions {
                            margin-top: 38px;
                        }
                        .group {
                            .coffee-machine {
                                margin-top: 68px;
                                padding-left: 76px;
                            }
                            .windows {
                                margin-top: 68px;
                            }
                        }
                    }
                }
            }
        }
    }
}

