@media only screen and (max-width: 1199px) {
    .screen-support {
        .grid {
            .card {
                width: 384px;
                padding: 0 32px;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .screen-support {
        .grid {
            .card {
                width: 360px;
                padding: 0 30px;
            }
        }
    }
}

