  * {
    margin: 0;
    padding: 0;
  }
  .p_h1 {
    margin-bottom: 36px;
    font-family: 'AGBE';
    font-size: 1.73em;
    color: white;
    text-align: center;
  }
  .p_content {
    padding: 36px 0;
  }
  .p_line::after {
    content: '';
    background-color: rgb(238, 46, 36);
    position: absolute;
    left: 100%;
    margin-left: 0px;
    top: 0px;
    height: 6px;
  }
  .p_line::before {
    content: '';
    background-color: rgb(238, 46, 36);
    position: absolute;
    margin-left: 0px;
    top: 6px;
    height: 6px;
  }
  header {
    flex: 1;
    background-color: #000;
  }
  .p_wrapper {
    margin: 0 auto;
  }
  .p_header {
    position: relative;
    padding: 18px 8px;
  }
  .p_bezier {
    position: absolute;
    left: 808px;
    top: 32px;
  }
  .p_bezier img {
    width: 48px;
  }
  .p_header_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .p_header_mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .p_header_mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .p_logo {
    display: inline-block;
    position: relative;
  }
  .p_logo img {
    width: 256px;
  }
  .p_logo::after {
    left: 100%;
    margin-left: 3px;
    top: 14px;
  }
  .p_logo::before {
    left: 0px;
    margin-left: -1003px;
    top: 14px;
    width: 1000px;
  }
  .p_social_main {
    margin-top: 4px;
  }
  .p_social_wrap {
    position: relative;
  }
  .p_social_block {
    display: flex;
    justify-content: space-between;
    width: 112px;
    padding-bottom: 4px;
  }
  .p_social_block::before {
    top: 10px;
  }
  .p_social_block::after {
    top: 10px;
  }
  .p_social {
    padding: 0 6px;
    width: 26px;
    height: 26px;
  }
  .p_vk {
    background: url('../images/p_vk.png') no-repeat;
  }
  .p_fb {
    background: url('../images/p_fb.png') no-repeat;
  }
  .p_instagram {
    background: url('../images/p_instagram.png') no-repeat;
  }
  .p_profile {
    display: inline-block;
    max-width: 165px;
    position: relative;
    flex-direction: column;
    padding-bottom: 4px;
  }
  .p_profile::after {
    top: 14px;
  }
  .p_profile::before {
    top: 14px;
  }
  .p_profile_auth {
    color: white;
    text-align: center;
    margin-top: 4px;
  }
  .p_nav_mobile {
    overflow: hidden;
    text-align: center;
  }
  .p_nav_mobile ul {
    height: 264px;
    padding-bottom: 12px;
    transition: height 1s ease, padding-bottom 1s ease;
  }
  .p_nav_closed ul {
    height: 0px;
    padding-bottom: 0px;
  }
  .p_nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  .p_nav_mobile ul {
    flex-direction: column;
  }
  .p_nav li {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border-radius: 0px 0px 0 0;
    text-transform: uppercase;
    transition: background-color .4s ease;
  }
  .p_nav li::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 61px;
    width: 100%;
    height: 0px;
    background-color: rgb(238, 46, 36, 0);
    transition: top .4s ease, height .4s ease, background-color .4s ease;
  }
  .p_nav li:hover {
    background-color: white;
    cursor: pointer;
  }
  .p_nav li:hover::before {
    height: 4px;
    top: 43px;
    background-color: rgba(238, 46, 36, 1);
  }
  .p_nav a {
    display: block;
    font-family: 'AGB';
    color: white;
    font-size: 1em;
    transition: color .4s ease;
  }
  .p_nav li:hover > a {
    color: black;
  }
  .p_nav_icon {
    width: 26px;
    height: 26px;
    background-image: url('../images/menu.png');
    background-repeat: no-repeat;
    cursor: pointer;
    padding-bottom: 4px;
  }
  .p_phone {
    position: relative;
  }
  .p_phone span::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -32px;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
  }
  .p_phone a {
    font-family: 'AGBE';
    font-size: .82em;
    color: white;
    text-decoration: none;
  }
  .p_phone_main {
    float: right;
  }
  .p_phone_main::after {
    top: 9px;
    margin-left: 3px;
  }
  .p_phone_main::before {
    top: 9px;
  }
  .p_mobile {
    justify-content: space-between;
    align-items: center;
  }
  .p_bg {
    background-color: black;
  }
  .p_menu-detail_description {
    display: flex;
  }
  .p_menu-detail_img {
    text-align: center;
  }
  .p_menu-detail_text {
    font-family: 'AGR';
    color: white;
  }
  .p_menu-detail_text a {
    text-decoration: none;
    color: rgba(238, 46, 36, 1);
  }
  .p_menu-detail_text ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 21px 0;
  }
  .p_menu-detail_text li {
    position: relative;
  }
  .p_menu-detail_text li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: rgba(238, 46, 36, 1);
    border-radius: 50%;
  }